//  very basic menu styling for now
a {
	text-decoration: none;
	transition: all var(--l-transition-fast) ease;

	&:focus {
		outline: 2px solid transparent;
		box-shadow: 0 0 0 var(--l-border-width);
		position: relative;
		z-index: 2;
		border-radius: 0.4px;
	}

	&:hover {
		box-shadow: 0 4px 0 0 currentColor, inset 0 -2px 0 0 currentColor;
	}

	.has-vertical-text & {
		box-shadow: -2px 0 0 0 currentColor, inset 2px 0 0 0 currentColor;

		&:hover {
			box-shadow: -4px 0 0 0 currentColor, inset 2px 0 0 0 currentColor;
		}

		&:focus {
			box-shadow: 0 0 0 var(--l-border-width) currentColor;
		}
	}
}

p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
ul.wp-block-latest-posts li a{
  background-color: var(--wp--preset--color--highlight);
  padding: 2px 5px;
}

p a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
ul.wp-block-latest-posts li a:hover{
  background-color: var(--wp--preset--color--background);
  color: var(--wp--preset--color--background);
  padding: 2px 5px;
}

a:hover, a:focus, a:active {
  color: var(--wp--preset--color--foreground);
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}